/**
 * Created by ronanwilliams on 2019-08-22.
 */

.THIS .linkBlock {
    width: 120px;
    height: 70px;
    border: 0.5px solid lightgrey;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.THIS .linkBlock:hover {
    background-color: #f0f0f0;
}

.THIS .container {
    width: 100%;
    padding: 5px;
    display: flex;
    position: relative;
}

.THIS .vertical {
    margin: 0;
    position: absolute;
    top: 55%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.THIS .empty {
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}